<%= render "_edit_menu.html", space: @space %>

<canvas id="spaceCanvas"></canvas>

<script>
  window['serializedSpace'] = <%= raw Thexr.Spaces.serialize(@space) %>;
  window['memberId'] = '<%= @member_id %>'
  window['userToken'] = '<%= @user_token %>';
</script>
