<h1>Objects</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
<%= for object <- @objects do %>
    <tr>
      <td><%= object.id %></td><td><%= object.name %></td>
    </tr>
<% end %>
  </tbody>
</table>
