<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Thexr.space", suffix: "" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
   <%= if Application.get_env(:honeybadger, :environment_name) == :prod do %>

      <script src="//js.honeybadger.io/v3.2/honeybadger.min.js" type="text/javascript"></script>
  
      <script type="text/javascript">
        Honeybadger.configure({
          apiKey: 'd839a21f',
          environment: 'production'
        });
      </script>

    <% end %>

  </head>
  <body>
    <header>
      <a href="/">TheXR Space</a> | 
      <a href="/m/spaces">Spaces</a>

    </header>
    <%= @inner_content %>
  </body>
</html>
